@font-face {
  font-family: "Platform-Font";
  src: url('fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot');
  src: url('fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix') format('eot'), url('fonts/trade-gothic/normal/5fdc935e-9e30-442a-bbe9-8d887b858471.woff') format('woff'), url('fonts/trade-gothic/normal/616c4c87-a077-43f4-a9f4-f01267c13818.ttf') format('truetype'), url('fonts/trade-gothic/normal/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#Platform-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Platform-Font";
  src: url('fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot');
  src: url('fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix') format('eot'), url('fonts/trade-gothic/normal/5fdc935e-9e30-442a-bbe9-8d887b858471.woff') format('woff'), url('fonts/trade-gothic/normal/616c4c87-a077-43f4-a9f4-f01267c13818.ttf') format('truetype'), url('fonts/trade-gothic/normal/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#Platform-Font') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Platform-Font";
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot');
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix') format('eot'), url('fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff') format('woff'), url('fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf') format('truetype'), url('fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font') format('svg');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "Platform-Font";
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot');
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix') format('eot'), url('fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff') format('woff'), url('fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf') format('truetype'), url('fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Platform-Font";
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot');
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix') format('eot'), url('fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff') format('woff'), url('fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf') format('truetype'), url('fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font') format('svg');
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "Platform-Font";
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot');
  src: url('fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix') format('eot'), url('fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff') format('woff'), url('fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf') format('truetype'), url('fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Marketing-Font";
  src: url('fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot');
  src: url('fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix') format('eot'), url('fonts/futura/normal/04733668-9f3f-4f2f-a534-14fb44683f83.woff') format('woff'), url('fonts/futura/normal/1f9bced0-1224-4785-9553-68fcbac00914.ttf') format('truetype'), url('fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marketing-Font";
  src: url('fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot');
  src: url('fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix') format('eot'), url('fonts/futura/normal/04733668-9f3f-4f2f-a534-14fb44683f83.woff') format('woff'), url('fonts/futura/normal/1f9bced0-1224-4785-9553-68fcbac00914.ttf') format('truetype'), url('fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Marketing-Font";
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot');
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix') format('eot'), url('fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff') format('woff'), url('fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf') format('truetype'), url('fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font') format('svg');
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "Marketing-Font";
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot');
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix') format('eot'), url('fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff') format('woff'), url('fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf') format('truetype'), url('fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Marketing-Font";
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot');
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix') format('eot'), url('fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff') format('woff'), url('fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf') format('truetype'), url('fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font') format('svg');
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "Marketing-Font";
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot');
  src: url('fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix') format('eot'), url('fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff') format('woff'), url('fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf') format('truetype'), url('fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro-Regular";
  src: url('fonts/sourcecodepro-regular-webfont.eot');
  src: url('fonts/sourcecodepro-regular-webfont.eot?#iefix') format('eot'), url('fonts/sourcecodepro-regular-webfont.woff') format('woff'), url('fonts/sourcecodepro-regular-webfont.ttf') format('truetype'), url('fonts/sourcecodepro-regular-webfont.svg#Marketing-Font') format('svg');
  font-weight: bold;
  font-style: italic;
}