/* line 42, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 58, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 71, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 78, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 91, ../sass/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 101, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 111, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 127, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 133, ../sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 147, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 152, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 157, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 162, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 167, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 172, ../sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 180, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 186, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 192, ../sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 199, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 205, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 212, ../sass/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 221, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 234, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 242, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 251, ../sass/_normalize.scss */
q {
  quotes: none;
}

/* line 257, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 265, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 272, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 280, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 284, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 294, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 303, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 310, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 320, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style-image: none;
}

/* line 336, ../sass/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 345, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 355, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 365, ../sass/_normalize.scss */
form {
  margin: 0;
}

/* line 372, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 383, ../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 397, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 412, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 422, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 435, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 448, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 458, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 471, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 481, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 490, ../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 499, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 510, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, ../sass/_base.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 8, ../sass/_base.scss */
body {
  background-color: #eeeeee;
  color: #666666;
  font-family: "Marketing-Font";
  font-size: 70px;
  line-height: 1;
  text-transform: uppercase;
}

/* line 18, ../sass/_base.scss */
strong, b {
  color: #dc404a;
}

/* line 22, ../sass/_base.scss */
p {
  margin: 0 0 1em 0;
}

/* line 26, ../sass/_base.scss */
ul, ol {
  padding-left: 0;
  list-style-type: none;
}

/* line 31, ../sass/_base.scss */
li {
  margin-bottom: 0.5em;
}

/* line 35, ../sass/_base.scss */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/* line 41, ../sass/_base.scss */
code {
  font-family: "SourceCodePro", Consolas, monospace !important;
  text-transform: none !important;
}

@font-face {
  font-family: "Platform-Font";
  src: url("fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot");
  src: url("fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"), url("fonts/trade-gothic/normal/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("fonts/trade-gothic/normal/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("fonts/trade-gothic/normal/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#Platform-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Platform-Font";
  src: url("fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot");
  src: url("fonts/trade-gothic/normal/257c802f-349c-4b4d-aefa-546d5de15ec6.eot?#iefix") format("eot"), url("fonts/trade-gothic/normal/5fdc935e-9e30-442a-bbe9-8d887b858471.woff") format("woff"), url("fonts/trade-gothic/normal/616c4c87-a077-43f4-a9f4-f01267c13818.ttf") format("truetype"), url("fonts/trade-gothic/normal/c901ad5f-a842-4549-a1f4-583a97f7e169.svg#Platform-Font") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Platform-Font";
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot");
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix") format("eot"), url("fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff") format("woff"), url("fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf") format("truetype"), url("fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font") format("svg");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "Platform-Font";
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot");
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix") format("eot"), url("fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff") format("woff"), url("fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf") format("truetype"), url("fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Platform-Font";
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot");
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix") format("eot"), url("fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff") format("woff"), url("fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf") format("truetype"), url("fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font") format("svg");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "Platform-Font";
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot");
  src: url("fonts/trade-gothic/oblique/0061ab1d-ac0a-492f-a33d-d95980a095a8.eot?#iefix") format("eot"), url("fonts/trade-gothic/oblique/1feee13e-ded1-4d73-9d76-c5ed16a43117.woff") format("woff"), url("fonts/trade-gothic/oblique/b3f82d90-14bc-4c20-8a10-a6b7bd0f304f.ttf") format("truetype"), url("fonts/trade-gothic/oblique/5e602f8a-1e6a-461e-bfd8-ff46a5460527.svg#Platform-Font") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Marketing-Font";
  src: url("fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot");
  src: url("fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix") format("eot"), url("fonts/futura/normal/04733668-9f3f-4f2f-a534-14fb44683f83.woff") format("woff"), url("fonts/futura/normal/1f9bced0-1224-4785-9553-68fcbac00914.ttf") format("truetype"), url("fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Marketing-Font";
  src: url("fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot");
  src: url("fonts/futura/normal/bec66ca3-753a-469a-b153-fdd9e3ea7ce4.eot?#iefix") format("eot"), url("fonts/futura/normal/04733668-9f3f-4f2f-a534-14fb44683f83.woff") format("woff"), url("fonts/futura/normal/1f9bced0-1224-4785-9553-68fcbac00914.ttf") format("truetype"), url("fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Marketing-Font";
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot");
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix") format("eot"), url("fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff") format("woff"), url("fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf") format("truetype"), url("fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font") format("svg");
  font-weight: normal;
  font-style: oblique;
}

@font-face {
  font-family: "Marketing-Font";
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot");
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix") format("eot"), url("fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff") format("woff"), url("fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf") format("truetype"), url("fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Marketing-Font";
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot");
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix") format("eot"), url("fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff") format("woff"), url("fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf") format("truetype"), url("fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font") format("svg");
  font-weight: bold;
  font-style: oblique;
}

@font-face {
  font-family: "Marketing-Font";
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot");
  src: url("fonts/futura/oblique/9d48daa7-88b1-41ed-b086-f4314ac40c74.eot?#iefix") format("eot"), url("fonts/futura/oblique/04e8852b-8371-4292-b870-9c670cc75bed.woff") format("woff"), url("fonts/futura/oblique/12c23072-18fa-4a45-9698-9ed4ce2c33bb.ttf") format("truetype"), url("fonts/futura/normal/23d05127-305c-4753-8f3a-16d8109db5ca.svg#Marketing-Font") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro-Regular";
  src: url("fonts/sourcecodepro-regular-webfont.eot");
  src: url("fonts/sourcecodepro-regular-webfont.eot?#iefix") format("eot"), url("fonts/sourcecodepro-regular-webfont.woff") format("woff"), url("fonts/sourcecodepro-regular-webfont.ttf") format("truetype"), url("fonts/sourcecodepro-regular-webfont.svg#Marketing-Font") format("svg");
  font-weight: bold;
  font-style: italic;
}

/**
 * prism.js 'Just Code It' theme for JavaScript, CSS and HTML
 * http://prismjs.com/
 */
/* line 7, ../sass/_prism.scss */
code[class*="language-"],
pre[class*="language-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  color: #111;
  direction: ltr;
  font-family: "SourceCodePro", Consolas, monospace;
  line-height: 1.5em;
  max-width: 100%;
  text-align: left;
  text-shadow: 0 1px #fff;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

/* Code blocks */
/* line 26, ../sass/_prism.scss */
pre[class*="language-"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1.5em;
  position: relative;
  overflow: auto;
}

/* line 33, ../sass/_prism.scss */
pre[class*="language-"] + pre[class*="language-"] {
  margin-top: 1.5em;
}

/* line 37, ../sass/_prism.scss */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4) inset, inset 1px 1px 0 0 rgba(255, 255, 255, 0), inset -1px -1px 0 0 rgba(0, 0, 0, 0.15);
  background: #fff;
}

/* Inline code */
/* line 44, ../sass/_prism.scss */
:not(pre) > code[class*="language-"] {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0.3em;
}

/* line 49, ../sass/_prism.scss */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #666666;
}

/* line 56, ../sass/_prism.scss */
.token.punctuation,
.token.operation {
  color: #666666;
}

/* line 61, ../sass/_prism.scss */
.namespace {
  opacity: 0.7;
}

/* line 65, ../sass/_prism.scss */
.token.property,
.token.tag {
  color: #bb2031;
}

/* line 70, ../sass/_prism.scss */
.token.selector,
.token.placeholder,
.token.function,
.token.mixin,
.token.media,
.token.attr-name {
  color: #009569;
}

/* line 79, ../sass/_prism.scss */
.token.operator,
.token.entity,
.token.url,
.token.interpolation {
  color: #bc9a69;
  background: rgba(255, 255, 255, 0.5);
}

/* line 87, ../sass/_prism.scss */
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #4e9cd4;
}

/* line 93, ../sass/_prism.scss */
.token.regex,
.token.boolean,
.token.null,
.token.unit,
.token.string {
  color: #983168;
}

/* line 101, ../sass/_prism.scss */
.token.variable,
.token.parent {
  color: #a74722;
}

/* line 106, ../sass/_prism.scss */
.token.flag {
  color: #fa5400;
  font-weight: bold;
}

/* line 111, ../sass/_prism.scss */
.token.entity {
  cursor: help;
}

/* line 115, ../sass/_prism.scss */
pre[data-line] {
  position: relative;
  padding: 1.5em 0 1.5em 1.5em;
}

/* line 120, ../sass/_prism.scss */
.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1.5em;
  /* Same as .prism’s padding-top */
  background: rgba(153, 122, 102, 0.08);
  background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

/* line 139, ../sass/_prism.scss */
.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .3em;
  min-width: 1em;
  padding: 0 .4em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

/* line 157, ../sass/_prism.scss */
.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

/* line 163, ../sass/_prism.scss */
.code-example.language-css:after,
.code-example.language-scss:after {
  position: absolute;
  top: 0;
  left: 1.5em;
  padding: 0 .4em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  border-radius: 0 0 0.5em 0.5em;
  text-shadow: none;
  box-shadow: 0 1px white;
}

/* line 178, ../sass/_prism.scss */
.code-example.language-css:after {
  content: 'css';
}

/* line 182, ../sass/_prism.scss */
.code-example.language-scss:after {
  content: 'scss';
}

/* line 4, ../sass/unimpress/_module_unimpress.scss */
html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 2, ../sass/unimpress/_mixins.scss */
.unimpress-slide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: column;
  -moz-box-orient: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: 400ms;
  -moz-transition: top 400ms;
  -o-transition: top 400ms;
  -ms-transition: top 400ms;
  transition: top 400ms;
}

/* line 2, ../sass/unimpress/_mixins.scss */
.unimpress-slide--upcoming {
  top: 100%;
}

/* line 2, ../sass/unimpress/_mixins.scss */
.unimpress-slide--past {
  top: -100%;
}

/* line 3, ../sass/buttons/_placeholders.scss */
.button-normal, .button-multiply, .button-overlay, .button-orange, .button-yellow, .button-hotpink, .button-bada55, .button-crap, .button-base, .button-base-orange, .button-base-blue, .button-dark, .button-light, .button-drop-shadow, .button-text-shadow {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  background-clip: padding-box;
  border: 0;
  border-radius: 0.2em;
  cursor: pointer;
  display: inline-block;
  font: 15px/2.6 "Platform-Font", sans-serif;
  letter-spacing: -1px;
  margin: 0;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  word-spacing: normal;
}

/* line 11, ../sass/buttons/_module_buttons.scss */
.button-normal {
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  color: white !important;
  background-color: #fa5400;
  text-shadow: 0px -1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-normal:hover, .button-normal.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-color: #ff6315;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-normal:active, .button-normal:focus, .button-normal.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-color: #fa5400;
  text-shadow: 0px 1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 11, ../sass/buttons/_module_buttons.scss */
.button-multiply {
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(250, 84, 0, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  color: white !important;
  background-color: #fa5400;
  text-shadow: 0px -1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-multiply:hover, .button-multiply.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 99, 21, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 99, 21, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 99, 21, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 99, 21, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 99, 21, 0.5) 100%);
  background-color: #ff6315;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-multiply:active, .button-multiply:focus, .button-multiply.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(250, 84, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(250, 84, 0, 0.5) 100%);
  background-color: #fa5400;
  text-shadow: 0px 1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 11, ../sass/buttons/_module_buttons.scss */
.button-overlay {
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(245, 0, 0, 0.5)), color-stop(100%, rgba(255, 168, 0, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  color: white !important;
  background-color: #fa5400;
  text-shadow: 0px -1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-overlay:hover, .button-overlay.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 0, 0, 0.5)), color-stop(100%, rgba(255, 198, 42, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-color: #ff6315;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-overlay:active, .button-overlay:focus, .button-overlay.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 0, 0, 0.5)), color-stop(100%, rgba(255, 168, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-color: #fa5400;
  text-shadow: 0px 1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 18, ../sass/buttons/_module_buttons.scss */
.button-orange {
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(245, 0, 0, 0.5)), color-stop(100%, rgba(255, 168, 0, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  color: white !important;
  background-color: #fa5400;
  text-shadow: 0px -1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-orange:hover, .button-orange.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 0, 0, 0.5)), color-stop(100%, rgba(255, 198, 42, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(255, 0, 0, 0.5) 0%, rgba(255, 198, 42, 0.5) 100%);
  background-color: #ff6315;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-orange:active, .button-orange:focus, .button-orange.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(245, 0, 0, 0.5)), color-stop(100%, rgba(255, 168, 0, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-image: linear-gradient(top, rgba(245, 0, 0, 0.5) 0%, rgba(255, 168, 0, 0.5) 100%);
  background-color: #fa5400;
  text-shadow: 0px 1px 0 rgba(51, 51, 51, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 18, ../sass/buttons/_module_buttons.scss */
.button-yellow {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 165, 0, 0.5)), color-stop(100%, rgba(255, 255, 8, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  color: #333333 !important;
  background-color: #ffd204;
  text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-yellow:hover, .button-yellow.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(213, 129, 0, 0.5)), color-stop(100%, rgba(255, 255, 0, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(213, 129, 0, 0.5) 0%, rgba(255, 255, 0, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(213, 129, 0, 0.5) 0%, rgba(255, 255, 0, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(213, 129, 0, 0.5) 0%, rgba(255, 255, 0, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(213, 129, 0, 0.5) 0%, rgba(255, 255, 0, 0.5) 100%);
  background-color: #eac000;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-yellow:active, .button-yellow:focus, .button-yellow.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 165, 0, 0.5)), color-stop(100%, rgba(255, 255, 8, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-image: linear-gradient(top, rgba(255, 165, 0, 0.5) 0%, rgba(255, 255, 8, 0.5) 100%);
  background-color: #ffd204;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 18, ../sass/buttons/_module_buttons.scss */
.button-hotpink {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 0, 105, 0.5)), color-stop(100%, rgba(255, 210, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  color: #333333 !important;
  background-color: hotpink;
  text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-hotpink:hover, .button-hotpink.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 0, 79, 0.5)), color-stop(100%, rgba(255, 160, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 0, 79, 0.5) 0%, rgba(255, 160, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 0, 79, 0.5) 0%, rgba(255, 160, 255, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(255, 0, 79, 0.5) 0%, rgba(255, 160, 255, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(255, 0, 79, 0.5) 0%, rgba(255, 160, 255, 0.5) 100%);
  background-color: #ff50a7;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-hotpink:active, .button-hotpink:focus, .button-hotpink.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 0, 105, 0.5)), color-stop(100%, rgba(255, 210, 255, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-image: linear-gradient(top, rgba(255, 0, 105, 0.5) 0%, rgba(255, 210, 255, 0.5) 100%);
  background-color: hotpink;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 18, ../sass/buttons/_module_buttons.scss */
.button-bada55 {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(117, 181, 0, 0.5)), color-stop(100%, rgba(255, 255, 170, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  color: #333333 !important;
  background-color: #bada55;
  text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
}
/* line 7, ../sass/buttons/_mixins.scss */
.button-bada55:hover, .button-bada55.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(101, 171, 0, 0.5)), color-stop(100%, rgba(255, 255, 128, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(101, 171, 0, 0.5) 0%, rgba(255, 255, 128, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(101, 171, 0, 0.5) 0%, rgba(255, 255, 128, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(101, 171, 0, 0.5) 0%, rgba(255, 255, 128, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(101, 171, 0, 0.5) 0%, rgba(255, 255, 128, 0.5) 100%);
  background-color: #b2d540;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
}
/* line 13, ../sass/buttons/_mixins.scss */
.button-bada55:active, .button-bada55:focus, .button-bada55.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(117, 181, 0, 0.5)), color-stop(100%, rgba(255, 255, 170, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-image: linear-gradient(top, rgba(117, 181, 0, 0.5) 0%, rgba(255, 255, 170, 0.5) 100%);
  background-color: #bada55;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 24, ../sass/buttons/_module_buttons.scss */
.button-crap {
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
  -webkit-font-smoothing: antialiased;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  color: white !important;
  background-color: #fa5400;
  text-shadow: 0px -1px 0 rgba(51, 51, 51, 0.4);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.25);
  color: #333;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
/* line 34, ../sass/buttons/_module_buttons.scss */
.button-crap:hover, .button-crap.is-hover {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-color: #ff6315;
}
/* line 39, ../sass/buttons/_module_buttons.scss */
.button-crap:active, .button-crap:focus, .button-crap.is-active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-color: #fa5400;
  text-shadow: 0px 1px 0 rgba(51, 51, 51, 0.4);
  box-shadow: inset 0 1px 0 4px rgba(0, 0, 0, 0.35);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* line 50, ../sass/buttons/_module_buttons.scss */
.button-base, .button-base-orange, .button-base-blue, .button-dark, .button-light, .button-drop-shadow, .button-text-shadow {
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
  background-color: #fa5400;
}

/* line 60, ../sass/buttons/_module_buttons.scss */
.button-base-blue {
  background-color: #00a4e4;
}

/* line 67, ../sass/buttons/_module_buttons.scss */
.button-dark {
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
  background-color: #333;
  color: white;
}

/* line 74, ../sass/buttons/_module_buttons.scss */
.button-light {
  -webkit-transform: scale(4, 4);
  -moz-transform: scale(4, 4);
  -ms-transform: scale(4, 4);
  -o-transform: scale(4, 4);
  transform: scale(4, 4);
  background-color: #ffd204;
  color: #333333;
}

/* line 83, ../sass/buttons/_module_buttons.scss */
.button-drop-shadow, .button-text-shadow {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  color: white;
}
/* line 88, ../sass/buttons/_module_buttons.scss */
.button-drop-shadow:active, .button-text-shadow:active, .button-drop-shadow.is-active, .is-active.button-text-shadow {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
}

/* line 94, ../sass/buttons/_module_buttons.scss */
.button-text-shadow {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) ;
  color: white;
  text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.4);
}
/* line 100, ../sass/buttons/_module_buttons.scss */
.button-text-shadow:active, .button-text-shadow.is-active {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.35) inset;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.4);
}

/* line 107, ../sass/buttons/_module_buttons.scss */
.button-wrapper {
  margin: 2em 0;
  text-align: center;
}

/* line 12, ../sass/style.scss */
.wrapper {
  margin: 3em auto;
  max-width: 960px;
  text-align: center;
}

/* line 18, ../sass/style.scss */
.code-example {
  font-size: 20px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
}

/* line 25, ../sass/style.scss */
.unimpress-slide {
  padding: 0 1em;
}

/* line 29, ../sass/style.scss */
.flex-row--2, .flex-row--3 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: row;
  -moz-box-orient: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}
/* line 36, ../sass/style.scss */
.flex-row--2 pre, .flex-row--3 pre {
  width: 99%;
}

/* line 44, ../sass/style.scss */
.flex-row--2 .flex-item {
  width: 50%;
}

/* line 52, ../sass/style.scss */
.flex-row--3 .flex-item {
  width: 33.3333%;
}

/* line 57, ../sass/style.scss */
.centered {
  text-align: center;
}

/* line 61, ../sass/style.scss */
body, .slide-title, .slide-title--main, .slide-title--sub {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.04em;
  word-spacing: -0.05em;
}

/* line 68, ../sass/style.scss */
.slide-title, .slide-title--main {
  color: #dc404a;
  line-height: 0.9;
}
/* line 73, ../sass/style.scss */
.slide-title b, .slide-title--main b {
  color: #666666;
  font-weight: normal;
}

/* line 79, ../sass/style.scss */
.slide-title--sub {
  color: #666666;
  display: block;
  line-height: 1;
  font-size: 75%;
}

/* line 87, ../sass/style.scss */
.slide-title--main {
  font-size: 120px;
}

/* line 92, ../sass/style.scss */
.button-table {
  margin: 1.5em 0;
  width: 100%;
  font-size: 60%;
}
/* line 97, ../sass/style.scss */
.button-table td, .button-table th {
  text-align: center;
  width: 33%;
}
/* line 102, ../sass/style.scss */
.button-table button {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

/* line 107, ../sass/style.scss */
.the-button {
  margin: 1.5em 0;
}
/* line 110, ../sass/style.scss */
.the-button:button {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

/* line 115, ../sass/style.scss */
.small-text {
  font-size: 50%;
}

/* line 119, ../sass/style.scss */
.medium-text {
  font-size: 75%;
}

/* line 123, ../sass/style.scss */
.simple-gradient, .complex-gradient {
  margin: 0.25em auto 0;
  height: 300px;
  width: 300px;
}

/* line 129, ../sass/style.scss */
.simple-gradient {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #000000), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #ffffff 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #ffffff 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #ffffff 100%);
  background-image: linear-gradient(bottom, #000000 0%, #ffffff 100%);
}

/* line 134, ../sass/style.scss */
.complex-gradient {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(25%, rgba(255, 0, 0, 0.75)), color-stop(35%, rgba(255, 165, 0, 0.75)), color-stop(45%, rgba(255, 255, 0, 0.75)), color-stop(55.0%, rgba(0, 128, 0, 0.75)), color-stop(65%, rgba(0, 0, 255, 0.75)), color-stop(75%, rgba(238, 130, 238, 0.75)));
  background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.75) 25%, rgba(255, 165, 0, 0.75) 35%, rgba(255, 255, 0, 0.75) 45%, rgba(0, 128, 0, 0.75) 55.0%, rgba(0, 0, 255, 0.75) 65%, rgba(238, 130, 238, 0.75) 75%);
  background-image: -moz-linear-gradient(left, rgba(255, 0, 0, 0.75) 25%, rgba(255, 165, 0, 0.75) 35%, rgba(255, 255, 0, 0.75) 45%, rgba(0, 128, 0, 0.75) 55.0%, rgba(0, 0, 255, 0.75) 65%, rgba(238, 130, 238, 0.75) 75%);
  background-image: -o-linear-gradient(left, rgba(255, 0, 0, 0.75) 25%, rgba(255, 165, 0, 0.75) 35%, rgba(255, 255, 0, 0.75) 45%, rgba(0, 128, 0, 0.75) 55.0%, rgba(0, 0, 255, 0.75) 65%, rgba(238, 130, 238, 0.75) 75%);
  background-image: linear-gradient(left, rgba(255, 0, 0, 0.75) 25%, rgba(255, 165, 0, 0.75) 35%, rgba(255, 255, 0, 0.75) 45%, rgba(0, 128, 0, 0.75) 55.0%, rgba(0, 0, 255, 0.75) 65%, rgba(238, 130, 238, 0.75) 75%);
}
